.talk-title {
  color: #556b2f;
}

.nav-bg-green {
  background-color: #556b2f;
}
.nav-bg-green a {
  color: #ffffff;
}
.btn-green {
  color: #ffffff;
  background-color: #556b2f;
  border-color: #556b2f;
}
.btn-green:hover {
  color: #ffffff;
  background-color: #465927;
  border-color: #465927;
}
.btn-green:focus {
  color: #ffffff;
  background-color: #465927;
  border-color: #465927;
  box-shadow: 0 0 0 0.25rem rgba(85, 107, 47, 0.5);
}

.form-control:focus {
  border-color: #dde8ca;
  box-shadow: 0 0 0 0.25rem rgba(85, 107, 47, 0.25);
}

.card {
  border: 0px;
}
.card:focus-within {
  background-color: #c6d8a6;
}
.card-body img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.card-body p {
  font-size: 20px;
}

.card-hover {
  background-color: #e8efdc;
}
.card-focus {
  background-color: #c6d8a6;
}
.card-focus label {
  font-weight: bold;
}
